<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="Site para franquias..">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="postagens.js">
</head>

<body>
    {{>header}}
    {{>contatos}}

        <article class="display-principal">
            <div class="titulo-topicos__home">
                <h1>TÓPICOS EM ABERTO</h1>
            </div>
            <div class="lista-topicos__home">
                <ul>
                    <li class="topico-ind__home"><a href="/topico">Tópico 1</a></li>
                    <li class="topico-ind__home"><a href="/topico">Tópico 2</a></li>
                    <li class="topico-ind__home"><a href="/topico">Tópico 3</a></li>
                    <li class="topico-ind__home"><a href="/topico">Tópico 4</a></li>
                    <li class="topico-ind__home"><a href="/topico">Tópico 5</a></li>
                </ul>
            </div>
        </article>
    </div>
    {{>footer}}

</body>

</html>