<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Frank</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/normalize.css">

</head>

<body>
    <header>
        <nav class="navbar">
            <a href="/home"><img class="logo" src="./img/logo-f.jpg" alt="logo"></a>
            <ul class="nav-links">
                <li class="perfil"><a href="#"><button class="btn-registrar">REGISTRAR</button></a></li>
                <li class="nav-item"> <a href="/home"><button class="btn-login" type="submit">LOGIN</button></a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="principal__index">

        <article class="boas-vindas__index">
            <h1>Bem vindo ao Frank!</h1>
            <h3>Integrando franquias</h3>
        </article>

        <aside class="registrar__index">
            <form action="">
                <div class="formulario__index">
                    <h1>Entre<h1>
                            <div class="formulario-item">
                                <form method="get" action="./home.html" class="form-login">
                                    <div class="formulario-campo">
                                        <label for="login-email">Email</label>
                                        <input id="login-email" type="text" class="form-input" placeholder="Email"
                                            required>
                                    </div>

                                    <div class="formulario-campo">
                                        <label for="login-senha">Password</label>
                                        <input id="login-senha" type="password" placeholder="Password" required>
                                    </div>

                                    <div class="form-field">
                                        <button class="btn-login" type="submit" value="Log in">LOGIN</button>
                                    </div>
                                </form>
                            </div>
                </div>
            </form>
        </aside>
    </div>

    <footer>
        <a href="#">
            <p>SOBRE ESSE SITE</p>
        </a>
    </footer>


    </div>
</body>

</html>