<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Frank</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/normalize.css">

</head>

<body>
    {{>header}}

    {{>contatos}}

    <article class="display-principal">
        <div class="perfil">
            <h1>Nome</h1>
            <img src="./img/profile.PNG" alt="">
            </ul>
        </div>
    </article>
    </div>

    {{>footer}}

    </div>
</body>

</html>