<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Frank</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/normalize.css">

</head>

<body>
    {{>header}}

    {{>contatos}}

        <article class="display-principal">
            <div class="titulo-topicos">
                <h1>TOPICO INDIVIDUAL</h1>
                <p>Descrição</p>
            </div>
            <div class="lista-comentarios">
                <ul>
                    <li class="comentario">Comentário 1</li>
                    <li class="comentario">Comentário 2</li>
                    <li class="comentario">Comentário 3</li>
                    <li class="comentario">Comentário 4</li>
                    <li class="comentario">Comentário 5</li>
                </ul>
            </div>
        </article>
    </div>

    {{>footer}}

    </div>
</body>

</html>