<div class="container">
        <aside class="contatos">
            <nav class="nav">
                <ul>
                    <li class="contato-ind"><a href="/perfil">Contato 1</a></li>
                    <li class="contato-ind"><a href="/perfil">Contato 2</a></li>
                    <li class="contato-ind"><a href="/perfil">Contato 3</a></li>
                    <li class="contato-ind"><a href="/perfil">Contato 4</a></li>
                    <li class="contato-ind"><a href="/perfil">Contato 5</a></li>
                </ul>
            </nav>
        </aside>