<header>
        <nav class="navbar">
            <a href="/home"><img class="logo" src="./img/logo-f.jpg" alt="logo"></a>
            <ul class="nav-links">
                <li class="nav-item"><a href="#">FORUM</a></li>
                <li class="perfil"><a href="/perfil"><img src="./img/profile.PNG" alt="Foto Perfil" srcset=""></a></li>
            </ul>
        </nav>
    </header>