<nav class="navbar navbar-expand-lg navbar-index">
    <div class="container-fluid">

        <a class="text-uppercase font-weight-bolder" href="#"><span id="logo-index">
                <h3>Frank</h3>
            </span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">


                {{!-- <button type="button" id="registrat-btn" class="btn btn-primary mr-3">Registrar</button> --}}
                <a href="/home" class="btn btn-primary mr-3" role="button">Registrar</a>

                {{!-- <button type="button" class="btn btn-secondary btn btn-outline-secondary">Login</button> --}}
                <a href="/home" class="btn btn-secondary btn btn-outline-secondary" role="button">Login</a>

            </ul>
        </div>
    </div>
</nav>