<nav id="sidebar">
    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="/home"><h1>Frank</h1></a>
            </div>

            <ul class="list-unstyled components">
                <h4>Contatos</h4>
                {{!-- Gerencia --}}
                <li class="">
                    <a href="#gerenciaSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Gerência</a>
                    <ul class="collapse list-unstyled" id="gerenciaSubmenu">
                        <li>
                            <a href="/perfil"><img id="navBarFotoPerfil" src="/profile.png" alt="Usuario"> Contato 1</a>
                        </li>
                    </ul>
                </li>
                {{!-- Funcionarios --}}
                <li>
                    <a href="#funcionariosSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Funcionários</a>
                    <ul class="collapse list-unstyled" id="funcionariosSubmenu">
                        <li>
                            <a href="/perfil"><img id="navBarFotoPerfil" src="/profile.png" alt="Usuario"> Contato 2</a>
                        </li>
                    </ul>
                </li>
                {{!-- Filial --}}
                <li>
                    <a href="#filialSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Filial
                    </a>
                    <ul class="collapse list-unstyled" id="filialSubmenu">
                        <li>
                            <a href="/perfil"><img id="navBarFotoPerfil" src="/profile.png" alt="Usuario"> Contato 1</a>
                        </li>
                    </ul>
                </li>


            </ul>
            <ul class="list-unstyled" id=sidebarFooter>
                <li>
                    <a href="/topico">Tópicos Abertos</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>