// Cores
$primaryColor: #212121;
$primaryColorDark: #000000;
$primaryColorLight: #484848;
$secundColor: #6a1b9a;
$secondColorDark: #38006b;
$secondColorLight: #9c4dcc;
$text: #000000;
$textOnDark: #ffffff;

//Typography:
$basefont: 'Roboto', sans-serif;
